* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #4d2323;
}

h3 {
  margin-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #4d2323;
  text-align: center;
}

.container {
  width: calc(100% - 40px);
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  width: 100%;
  background-color: #829985;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  position: relative;
  padding: 0 12px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  line-height: 50px;
  transition: .3s;
}

.nav-item a {
  color: #ffffff;
  text-decoration: none;  
  transition: color 0.5s;
}

.nav-item a:hover {
  color: #d7d1c9;
}

 .nav-link::after {
  content: "";
  position: absolute;
  left: 12px;
  bottom: -5px;
  width: calc(100% - 24px);
  height: 2px;
  background-color: #d7d1c9;
  opacity: 0;
  transition: .5s;
}

.nav-link:hover::after {
  opacity: 1;
  animation-name: slidein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes slidein {
  from {
    width: 0;
  }
  to {
    width: calc(100% - 24px);
  }
}

.main {
  margin-bottom: auto;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section {
  width: calc(50% - 20px);
  padding: 10px;
  padding-bottom: 35px;
  border-bottom: 1px solid #672f2f;
}

.section-education,
.section-english {
  border-bottom: 0;
}

.section-title {
  margin-bottom: 20px;  
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #829985;
}

.section-profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 50px 30px 35px;
  border-bottom: 15px solid #d7d1c9;
}

.pre {
  padding: 0;
  margin: 0;
}

.section-profile-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;  
  text-transform: uppercase;
}

.main-title {
  position: relative;
  padding: 0;
  margin-bottom: 20px;
  color: #4d2323;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 10px;
  line-height: 50px;
  word-spacing: 3px;
}

.main-title::after {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 50%;
  margin-left: -70px;
  width: 140px;
  height: 2px;
  background-color: #829985;
}

.section-subtitle {
  margin-top: 20px;
  color: #5c5c5c;
  line-height: 50px;
  font-weight: 300;
  letter-spacing: 2px;
}

.my-photo {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  filter: grayscale(0.2) brightness(1.05);
  transition: .3s;
}

.my-photo:hover {
  filter: none;
}

.footer {
  background-color: #829985;
  padding: 20px;  
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: #fff;
}

.footer-data {
  max-height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.github {
  color: #fff;
  text-decoration: none;
  line-height: 25px;
}

.github:hover {
  color: #d7d1c9;
}

.rss-logo {
  width: 121px;
  height: 45px;
  background-image: url("./assets/svg/rss.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.rss-logo:hover {
  filter: invert(4%) sepia(88%) saturate(123%) hue-rotate(328deg) brightness(90%) contrast(78%);
  cursor: pointer;
  transition: 0.3s;
}

.courses-section {
  width: calc(100% - 20px);
  padding: 10px;
  padding-bottom: 35px;
  border-bottom: 1px solid #672f2f;
}

.courses-list {
  width: 100%;
  margin: 0 auto;
}

.projects-section {
  width: calc(100% - 20px);
  padding: 10px;
  padding-bottom: 35px;
  border-bottom: 1px solid #672f2f;
}

.project-title {
  text-align: center;
}

.projects-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.project-card {
  display: inline-block;
  width: 620px;
  margin: 0px, 20px, 0px, 20px;
}

.project {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project-pic {
  margin: 0px, 20px, 0px, 20px;
}

.project-description {
  width: 220px;
  height: 180px;
  text-align: left;
  font-size: 16px;
  font-weight: 300;
}
